.posterStyle {
  display: grid;
  grid-template-columns: 1fr 4fr;

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
  img {
    max-width: 160px;
    margin-right: 16px;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  span {
    font-size: 0.8rem;
    display: inline-block;
  }

  p {
    font-size: 0.9rem;
  }
}
